.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

html {
  padding-top: 56px;
}

.bg-gray {
  background-color: lightgray;
}

img.headshot {
  width: auto;
  height: 70px;
  border-radius: 50%;
}

.offset-top-56 {
  top: 56px;
}

th::after {
  content: "\f0dc";
  font-family: "FontAwesome";
  font-weight: 900;
}

th.nosort::after {
  content: "\f0dc";
  font-family: "FontAwesome";
  font-weight: 900;
}

th.up::after {
  content: "\f0dd";
  font-family: "FontAwesome";
  font-weight: 900;
  color: #28a745 !important;
}

th.down::after {
  content: "\f0de";
  font-family: "FontAwesome";
  font-weight: 900;
  color: #28a745 !important;
}